@{
    ViewData["Title"] = "Step 1";
}

@model ListDataModel

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-12 text-center">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                @for (int i = Model.PageOffset*20+1; i <= Math.Min(Model.Entries, Model.PageOffset*20 + 20); i++)
                {
                    RenderItem(i);

                }
            </div>
            <div class="col-lg-3 col-3">
                @using (Html.BeginForm("prev", "Home", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.ViewPath, new {Value = Model.ViewPath})
                    @Html.HiddenFor(m => m.isMonday, new {Value = Model.isMonday})
                    @Html.HiddenFor(m => m.PageOffset, new {Value = Model.PageOffset})
                    @Html.HiddenFor(m => m.Entries, new {Value = Model.Entries})

                    <input class="w-100 p-1" type="Submit" name="prev" value="Prev 20" />
                }
            </div>
            <div class="col-lg-3 col-3">
                @using (Html.BeginForm("next", "Home", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.ViewPath, new {Value = Model.ViewPath})
                    @Html.HiddenFor(m => m.isMonday, new {Value = Model.isMonday})
                    @Html.HiddenFor(m => m.PageOffset, new {Value = Model.PageOffset})
                    @Html.HiddenFor(m => m.Entries, new {Value = Model.Entries})

                    <input class="w-100 p-1" type="Submit" name="next" value="Next 20" />
                }
            </div>
        </div>
    </div>
</div>

@functions {
    public void RenderItem(int i){
        if (i % 3 == 0 && i % 5 == 0)
        {
            <p><span class="walkers">@Model.Mondayify("walkers") <span class="assessment">@Model.Mondayify("assessment")</span></span></p>
        }
        else if (i % 3 == 0)
        {
            <p class="walkers">@Model.Mondayify("walkers")</p>
        }
        else if (i % 5 == 0)
        {
            <p class="assessment">@Model.Mondayify("assessment")</p>
        }
        else{
            <p>@i.ToString()</p>
        }
        
    }
}
